.alert.alert-warning,
.alert.alert-info {
    display: flex;
    padding: 0.5rem 1rem;
    border: solid 1px #d1e5f0;
    background-color: #def4ff;
    color: #66645c;
    border-radius: 6px;
}
.alert.alert-warning>span,
.alert.alert-info>span {
    align-self: center;
}
.alert.alert-warning::before,
.alert.alert-info::before {
    align-self: center;
    margin-right: 1rem;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    vertical-align: middle;
    content: '\e8fd'; // help outline
    color: #26b4ff;
    line-height: 1;
}
.alert.alert-warning::before {
    content: '\e88f';
}

kbd {
    background-color: #9a8f99;
    border-radius: 5px;
    padding: 0.2rem 0.4rem 0.25rem 0.4rem;
    font-size: 14px;
    color: #f4f3f4;
}
.tab-block {
    background-color: #f4f4f4;
}