.android {
    a.btn {
        &:hover,
        &:focus {
            color: $white;
            i {
                transform: rotate(-15deg);
                color: $gray-900;
            }
        }
    }
}