.cat {
    .bc-menu {
        margin-left: auto;
        color: #a3a4a6;
        a, span {
            align-self: center;
        }
        a {
            font-size: $font-size-sm;
            color: #a3a4a6;
            > i {
                font-size: 24px;
            }
            &:nth-of-type(2) {
                color: $global-text-color;
            }
            &:hover {
                color: darken(#a3a4a6, 15%);
            }
        }
        span {
            margin: 0 .5rem;
        }
    }
    .card {
        margin-bottom: 20px;
        .row .col-auto {
            align-self: center;
        }
    }
}