.comments-number {
    margin: 1rem 0 1rem 0;
    font-weight: 300;
    font-size: 1.25rem;
}
.comment-respond {
    .card-header {
	    padding: .75rem 1.25rem;
        font-weight: 500;
    }
	.card-body {
		padding: 1.25rem;
	}
}
.comment-list {
	margin-bottom: 2rem;
    .depth-2,
    .depth-3,
    .depth-4,
    .depth-5,
    .depth-6,
    .depth-7 {
        margin-left: 50px;
    }
    .comment-item {
        margin-bottom: 1.25rem;
        &:last-child {
            margin-bottom: 0;
        }
        .comm-header {
            display: flex;
            margin-bottom: .5rem;
            font-size: $font-size-sm;
            align-items: center;
            .comm-author {
                margin-right: .5rem;
                //font-size: $font-size-base;
                font-weight: 500;
            }
            .comm-author-red {
                color: $danger;
            }
            .reply-link {
                //margin-left: 0.5rem;
                margin-left: auto;
/*                button {
                    padding-bottom: 2px;
                    padding-top: 2px;
                }*/
                a {
                    color: $gray-300;
                    i {
                        font-size: 24px;
                    }
                    &:hover {
                        color: $secondary;
                    }
                }
            }
            .comm-date a {
                //color: $gray-500;
                text-decoration: underline dotted;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        img {
            border-radius: 50%;
        }
        img.avatar-depth {
            width: 30px;
            height: 30px;
        }
        .reply-box {
            margin-bottom: 1rem;
        }
        .col-auto {
            padding-right: 0;
        }
        .col {
            .comm-body {
                padding: .75rem 1rem;
                background-color: #fff;
                border-radius: 0 8px 0 8px;
	            border: solid 1px rgba($global-border-color, .5);
	            font-size: $font-size-md;
                p:last-child {
                    margin: 0;
                }
            }
        }
    }
}
.comment-form-alert {
    font-weight: 300;
    margin-top: 1.5rem;
    &.animate {
        animation: comment 6s linear;
    }
}