.download {
	h2 {
		font-size: 1.8125rem;
	}
    .card {
        margin-bottom: 1.5rem;
        margin-left: -15px;
        margin-right: -15px;
        border-left-width: 0;
        border-right-width: 0;
        box-shadow: none;
        .card-header {
            font-size: 0.9375rem;
	        font-weight: 500;
            >ul {
                margin-top: 1rem;
            }
        }
	    .card-header-tabs {
		    font-weight: 400;
		    font-size: $font-size-sm;
	    }
        .card-body {
            padding: 0;
	        i {
                display: none;
                margin-right: 0.35rem;
                color: $darkgreen;
            }
            button,
            .btn {
                &:hover,
                &:focus {
                    color: $white;
                    i {
                        transform: rotate(-15deg);
                        color: $gray-900;
                    }
                }
            }
            a.dropdown-item {
                font-size: 0.9375rem;
            }
        }
        sup {
            font-size: .75rem;
            color: $gray-500;
        }
    }
    table {
        margin-bottom: 0;
        tr {
            td {
                //border-color: $global-border-color;
                border-color: $global-body-bg-color;
            }
	        &:first-child td {
		        border: 0;
	        }
        }
    }
    tr td {
        vertical-align: middle;
        padding-left: 1rem;
        padding-right: 1rem;
        >div {
            font-size: $font-size-sm;
            &:nth-child(2) {
                font-weight: 300;
            }
        }
	    &:last-child {
		    text-align: right;
	    }
	    >a:nth-child(2) {
		    margin-left: 0.75rem;
	    }
    }
    .btn {
        white-space: nowrap;
    }
    .footnote {
        padding-left: 1rem;
        margin-bottom: 2rem;
        list-style: none;
        font-size: $font-size-sm;
        li {
            &::before {
                content: "1";
                color: $gray-500;
                display: inline-block;
                width: 1rem;
                margin-left: -1rem;
            }
            &:nth-child(2)::before {
                content: "2";
            }
            &:nth-child(3)::before {
                content: "3";
            }
            &:nth-child(4)::before {
                content: "4";
            }
        }
    }
    .comment-respond {
        .card-body {
            padding: 1.25rem;
        }
    }
}