footer {
    height: 50px;
    flex-shrink: 0;
    .row {
        height: 50px;
        .col-auto {
            align-self: center;
            font-size: $font-size-sm;
            color: rgba($white, .5);
        }
    }
    a {
        color: $darkblue;
	    transition: color .2s ease-in-out;
        &:hover {
            color: $warning;
            text-decoration: none;
        }
    }
    .counter {
        width: 32px;
        height: 32px;
        background-color: $gray-600;
    }
}
.agreement-footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    padding: 0 1rem;
    background-color: #edf7f5;
    color: $gray-600;
    font-size: $font-size-sm;
    z-index: 9999;
    button {
        margin-left: auto;
        color: $gray-800;
    }
    >span {
        padding: 0.5rem 0;
    }
    .btn {
        margin-left: 1rem;
    }
}
.scroll-up {
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 50%;
    button {
        border: 0;
        padding: 0;
        background-color: transparent;
        color: #d1e6f0;
        transition: all ease-in-out .15s;
        i {
            font-size: 48px;
        }
        &:hover {
            color: #93c4dc;
        }
    }
}