header {
	position: relative;
	z-index: 7777;
	box-shadow: 0 .15rem .2rem rgba($black, .3);
}
.navbar {
	height: 64px;
	> * {
		align-self: center;
	}
	.fullscreen {
		margin-right: 0.75rem;
		padding: .15rem;
		align-self: center;
		color: rgba(#ccc, .3);
		background-color: #343a40;
		border-radius: 50%;
		transition: background-color .1s, color .1s;
		i {
			vertical-align: middle;
			font-size: 36px;
			transition: transform .1s;
		}
		&:hover {
			color: #ccc;
			background-color: lighten(#343a40, 10%);
		}
	}
	.navbar-brand {
		font-family: $font-family-sans-poppins;
		font-size: 1.125rem;
		text-align: center;
		span {
			color: $darkblue;
			transition: color .2s ease-in-out;
		}
		&:hover {
			span {
				color: $warning;
			}
		}
	}
	.navbar-nav {
		padding: 1rem;
		.nav-item {
			padding-bottom: .75rem;
			.nav-link {
				padding: 0;
				font-size: $font-size-sm;
				color: #ffffff80;
				transition: color 0.2s ease-in-out;
				&:hover {
					color: #ffffffbf;
				}
			}
			// download button icon
			i {
				margin-right: 5px;
				vertical-align: middle;
				font-size: 18px;
				color: $gray-900;
			}
			.btn:hover {
				i {
					transform: rotate(-15deg);
				}
			}
		}
	}
	#search-form {
		display: none;
		position: relative;
		margin-top: 0.5rem;
		width: 100%;
		.form-control {
			width: 100%;
		}
		.search-button {
			position: absolute;
			top: 5px;
			right: 3px;
			cursor: pointer;
			i {
				font-size: 30px;
				color: #70b0d1;
			}
		}
		&.search-form-mobile {
			margin-top: 0;
			display: inline;
			flex-grow: 1;
			width: auto;
			margin-right: 0.5rem;
		}
	}
	> .navbar-collapse {
		left: -240px;
		display: block;
		position: fixed;
		top: 0;
		width: 240px;
		height: 100%;
		transition: left 0.3s ease-in-out;
		background-color: $dark;
		z-index: 11;
		&.navbar-mobile {
			left: 0;
			box-shadow: 0 .25rem .75rem rgba($black, .3);
		}
		> button {
			position: absolute;
			top: .5rem;
			right: .5rem;
			background-color: $gray-200;
			padding: .6rem .65rem ;
			border-radius: 50%;
			line-height: 1rem;
			opacity: .7;
			&:hover {
				background-color: $white;
			}
		}
	}
	.menu-toggle, .navbar-toggle, .search-toggle {
		margin-right: 0.5rem;
		align-self: center;
		button {
			padding-top: 6px;
			padding-bottom: 3px;
			i {
				font-size: 24px;
				color: $gray-700;
			}
			&:hover {
				//opacity: 1;
			}
		}
	}
	.navbar-toggle,
	.search-toggle {
		margin-right: 0;
	}
	.navbar-toggle {
		margin-left: 0.5rem;
	}
	.search-toggle {
		margin-left: auto;
		button i {
			color: $gray-700;
		}
	}
}

.navbar-search {
	flex-direction: row-reverse;
	.navbar-brand,
	.sidebar-toggle,
	.navbar-toggle,
	.menu-toggle {
		display: none;
	}
}

.btn:active, .btn-darkgreen:active {
	box-shadow: none;
}
.btn:focus, .btn-darkgreen:focus {
	box-shadow: none;
}