.help {
    > .row {
        > div {
            margin-bottom: $spacer * 1.5;
        }
    }
    .card {
        margin-left: -15px;
        margin-right: -15px;
        border-left-width: 0;
        border-right-width: 0;
    }
    .card-header a {
        font-weight: 500;
        color: $global-text-color;
	    &:hover {
		    color: darken($global-text-color, 15%);
	    }
    }
    ul {
        margin-bottom: 0;
        padding-left: $spacer;
        li {
            color: $gray-600;
        }
        li:last-child {
            a {
                font-size: $font-size-sm;
                color: $gray-600;
            }
        }
    }
    .divider {
        list-style: none;
    }
}