// lg
@media (min-width: 992px) {
    .navbar {
	    .navbar-nav {
		    .nav-item {
			    align-self: center;
			    padding: 0 1rem 0 0;
			    .nav-link {
				    color: #ffffff80;
				    &:hover {
					    color: #ffffffbf;
				    }
			    }
		    }
	    }
	    > .navbar-collapse {
		    position: static;
		    display: block;
		    right: inherit;
		    background-color: inherit;
		    box-shadow: none;
	    }
    }
    .navbar #search-form {
        display: inline;
        max-width: 300px;
        flex-grow: 0;
        margin-top: 0;
    }
    .navbar-search {
        flex-direction: row;
        .navbar-brand {
            display: block;
        }
    }
    .post {
		.card-post,
		.card-post + #respond > .card {
			margin-left: 0;
			margin-right: 0;
			//border-left-width: 1px;
			//border-right-width: 1px;
			box-shadow: $card-box-shadow;
			border: 0;
		}
        article {
            img {
                border: 1px solid rgba($gray-200, 0.75);
                @include border-radius(5px);
                &.no-border {
                    border: none;
                }
            }
            .img-box {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
	.download {
		.card {
			margin-left: 0;
			margin-right: 0;
			//border-left-width: 1px;
			//border-right-width: 1px;
			box-shadow: $card-box-shadow;
			border: 0;
		}
	}
	.page {
		.home-sidebar {
			.card {
				max-width: 260px;
			}
		}
		.img-box {
			margin-left: 0;
			margin-right: 0;
			img {
				border-radius: .25rem;
			}
		}
	}
}

// md
@media (min-width: 768px) {
    .post {
        article .alert-warning>i {
            display: block;
        }
        article {
            > ol,
            > ul,
            .os-tabs-content > div > ol,
            .os-tabs-content > div > ul {
                padding-left: 2.5rem;
            }
        }
        .rating .col-12 {
            text-align: inherit;
            &:first-child {
                margin-bottom: 0;
            }
        }
	    .post-sidebar.sb-none {
		    display: block;
	    }
    }
	.alert::before {
		display: inline-block;
	}
	.toast {
		max-width: 350px;
		right: 1.5rem;
		bottom: 1.5rem;
	}
	.download {
		.card {
			.card-body {
				i {
					display: inline-block;
				}
			}
		}
	}
	.page .card,
	.help .card {
		margin-left: 0;
		margin-right: 0;
		border-left-width: 1px;
		border-right-width: 1px;
		box-shadow: $card-box-shadow;
	}
}

// xl
@media (min-width: 1200px) {
	.navbar #search-form {
		max-width: 300px;
		flex-grow: 0;
		margin-top: 0;
	}
	.post .card-body {
		.post-sidebar {
			position: relative;
			top: 0;
			right: 0;
			width: auto;
			height: inherit;
			padding: .5rem 1rem;
			background-color: $white;
			z-index: inherit;
			box-shadow: none;
			border-left: solid 1px $global-border-color;
			&.open {
				right: 0;
			}
		}
		.toc {
			ol>li>a {
				color: $link-color;
			}
			ul>li>a {
				color: $global-text-color;
			}
		}
	}
	.post {
		.card-body {
			.post-sidebar-container {
				position: sticky;
				top: 1rem;
				width: 180px;
				max-width: 210px;
			}
		}
		.post-sidebar.sb-none {
			display: none;
		}
	}
	.page {
		.home-sidebar {
			.card {
				max-width: 300px;
			}
		}
	}
}