.page {
    //margin-bottom: 1rem;
    h1 {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
/*    h2 {
        font-size: 1.75rem;
        margin-top: 2rem;
    }
    h3 {
        font-size: 1.5rem;
        color: $gray-600;
        font-weight: 300;
    }*/
    .img-box {
        margin-left: -15px;
        margin-right: -15px;
        img {
            height: auto;
            margin: 0 auto;
            display: block;
            max-width: 100%;
        }
    }
    .card {
        margin-left: -15px;
        margin-right: -15px;
        border-left-width: 0;
        border-right-width: 0;
    }
	.card-body {
		p:last-child {
			margin-bottom: 0;
		}
	}
    .home-sidebar {
        .card {
            margin-bottom: 1.25rem;
        }
        .card-header {
            position: relative;
            font-weight: 500;
            i {
                position: absolute;
                top: .75rem;
                right: .5rem;
                font-size: 24px;
                color: #93c4dc;
            }
        }
        ul {
            margin-bottom: 0;
            padding-left: 1rem;
            a {
                font-size: 0.9375rem;
            }
        }
        .lastcomments {
            ul {
                padding-left: 0;
                list-style: none;
                li {
                    margin-bottom: 1rem;
                    .comm-author {
                        margin-bottom: .25rem;
                        display: flex;
                        > * {
                            align-self: center;
                        }
                        span {
                            margin-left: .5rem;
                            font-size: $font-size-sm;
                            font-weight: 500;
                        }
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    a {
                        font-size: 0.9375rem;
                    }
                }
            }
            img {
                border-radius: 50%;
            }
        }
    }
}