.post {
	h1 {
		display: inline-block;
		vertical-align: middle;
	}
	h2 {
		margin-top: 2rem;
	}
	h2 + .os-tabs {
		margin-top: 1rem;
	}
	h2.animate,
	h3.animate {
		animation: h2_color 4s ease;
	}
	h2 + ol,
	h2 + ul,
	h3 + ol,
	h3 + ul {
		margin-top: 1rem;
	}
	.edit_link {
/*		position: absolute;
		top: 0;
		right: 0;*/
		display: inline-block;
		vertical-align: middle;
		opacity: .3;
		i {
			font-size: 24px;
			color: $gray-500;
		}
		&:hover {
			opacity: 1;
		}
	}
	.bread-crumbs {
		color: #a3a4a6;
		a {
			margin-right: 0.25rem;
			font-size: $font-size-sm;
			color: #a3a4a6;
			i {
				vertical-align: bottom;
				font-size: 24px;
			}
			&:nth-of-type(2) {
				margin: 0 0.25rem
			}
			&:nth-of-type(3) {
				margin-left: 0.25rem;
				color: $global-text-color;
			}
			&:hover {
				color: darken(#a3a4a6, 15%);
			}
		}
	}
	.card-post,
	.card-post + #respond > .card {
		margin-left: -15px;
		margin-right: -15px;
		border-left-width: 0;
		border-right-width: 0;
		box-shadow: none;
		//background-color: #fafafa;
	}
	.card-header {
		padding: .5rem 1.25rem;
		font-size: 0.9375rem;
		.post-date {
			align-self: center;
			span {
				margin-right: 0.5rem;
				font-size: $font-size-sm;
				i {
					margin-right: 0.25rem;
					vertical-align: top;
					font-size: 24px;
					color: #a4cce1;
				}
			}
		}
		.post-toc-button {
			align-self: center;
			button {
				display: inline-block;
				padding: 0.4rem;
				border: 0;
				background-color: #70b0d1;
				border-radius: 50%;
				transition: background-color .15s ease-in-out;
				i {
					vertical-align: middle;
					color: $white;
					font-size: 24px;
				}
				&:hover {
					background-color: darken(#70b0d1, 15%);
					i {
						//content: '\e5d2';
					}
				}
			}
		}
	}
	.card-body {
		padding: 0 0.9375rem;
		.post-sidebar {
			position: fixed;
			top: 0;
			right: -240px;
			width: 240px;
			height: 100%;
			max-width: none;
			padding: 1rem 1rem;
			background-color: $dark;
			z-index: 9999;
			color: $gray-100;
			transition: right .3s ease-in-out;
			&.open {
				right: 0;
				box-shadow: 0 .25rem .75rem rgba($black, .3);
			}
			.sb-none {
				display: none;
			}
		}
		.post-sidebar-container {
			width: 100%;
			.close {
				float: none;
				position: absolute;
				top: .5rem;
				right: 1rem;
				background-color: $gray-400;
				padding: .6rem .65rem ;
				border-radius: 50%;
				line-height: 1rem;
				opacity: .7;
				&:hover {
					background-color: $gray-200;;
				}
			}
		}
		.toc {
			color: $gray-500;
			.toc-header {
				margin-bottom: 1rem;
				font-weight: 500;
				color: $white;
			}
			ol {
				padding: 0;
				margin-top: .5rem;
				margin-left: 1rem;
				>li {
					padding-bottom: 0.5rem;
					font-size: 0.9375rem;
					>a {
						color: $darkblue;
						&:hover {
							text-decoration: underline;
							//color: lighten($link-color, 5%);
						}
					}
				}
			}
			ul {
				margin-top: .5rem;
				padding-left: 1.75rem;
				list-style-type: lower-alpha;
				>li {
					padding-bottom: .5rem;
					&:last-child {
						padding-bottom: 0;
					}
					>a {
						font-size: $font-size-sm;
						color: $gray-500;
						text-transform: lowercase;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.card-footer {
		padding: 0.5rem 1.25rem;
		.col, .col-auto {
			align-self: center;
		}
		.rating-block {
			button {
				display: inline-block;
				vertical-align: middle;
				background-color: $white;
				border: 0;
				border-radius: 50%;
				padding: 0.5rem;
				transition: background-color .1s;
				&:first-child {
					color: $success;
				}
				&:last-child {
					color: $danger;
				}
				&:hover {
					background-color: $gray-200;
					transform: rotate(-17deg);
				}
			}
			span {
				margin: 0 .4em;
				font-size: $font-size-sm;
				display: inline-block;
				vertical-align: middle;
			}
			.material-icons {
				vertical-align: middle;
				font-size: 24px;
			}
		}
	}
    article {
	    padding: 0.9375rem 0;
		>p {
			strong {
				font-weight: 500;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
        >ol,
        >ul,
        .os-tabs-content>div>ol,
        .os-tabs-content>div>ul {
            padding-left: 1rem;
        }
        ul ul,
        ol ol,
        ol ul,
        ul ol {
            margin-top: 0.5rem;
        }
        ul>li, ol>li {
            padding-bottom: 0.5rem;
            &:last-child {
                padding-bottom: 0;
            }
            strong {
                font-weight: 500;
            }
        }
        a {
            i {
                margin-left: 0.25rem;
	            color: $gray-500;
	            vertical-align: top;
	            font-size: 24px;
	            transition: transform 0.15s;
            }
			&:hover {
				i {
				//	color: #a2a5a8;
					transform: translateY(-3px);
				}
			}
            &.int:hover {
				i {
					transform: rotate(-45deg);
				}
            }
        }
        .img-box {
            margin-left: -15px;
            margin-right: -15px;
	        img {
		        height: auto;
		        margin: 0 auto;
		        display: block;
		        max-width: 100%;
	        }
        }
        // отступ для вложенных списков
        li > ol,
        li > ul {
            margin-bottom: $spacer * 0.5;
        }
        table {
            margin-top: 1.5rem;
            th {
                font-weight: 500;
                font-size: $font-size-sm;
                text-align: center;
            }
            tr {
                td {
                    font-size: $font-size-sm;
                    vertical-align: middle;
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        li {
                            padding: 0;
                        }
                    }
                    span {
                        margin-right: 0.5rem;
                    }
                    &:nth-of-type(1) {
                        font-size: $font-size-base;
                    }
                    &:nth-of-type(2) {
                        text-align: center;
                    }
                }
            }
        }
        table.table-hotkeys tr td span {
            margin-right: 0;
        }
        .table-anonymizer {
            tr {
                td {
                    text-align: center;
                    &:nth-of-type(1) {
                        font-size: $font-size-base;
                    }
                    &:nth-of-type(5) {
                        text-align: left;
                    }
                }
            }
        }
        .os-tabs {
			.nav-tabs {
				border: 0;
			}
            a {
				margin-bottom: 0;
                display: flex;
				justify-content: center;
				width: 140px;
				border-radius: 0;
				border: none;
				border-bottom: 2px solid $gray-200;
				font-size: $font-size-sm;
				color: $nav-tabs-link-active-color;
				transition: background-color .3s ease;
                i {
                    margin-right: 0.75rem;
                    color: darken($warning, 5%);
					align-self: center;
                }
                b {
                    font-weight: 400;
					align-self: center;
                }
				&.nav-link.active {
					background-color: lighten(#e6f4f1, 2%);
					border-bottom: 2px solid lighten(#59ABE3, 10%);
				}
				&:hover {
					border-bottom: 2px solid $gray-400;
					background-color: $gray-100;
					i {
						transform: translateX(-4px);
					}
				}
				&:last-child i {
					color: #8DB255;
				}
            }
        }
		.os-tabs-content {
			.tab-pane > :last-child {
				margin-bottom: 0;
			}
		}
		> :last-child {
			margin-bottom: 0;
		}
    }
    &.post-mobile {
        margin-right: -210px;
    }
}