.short {
    .card-body {
        a {
            font-weight: 500;
            font-size: 1.125rem;
            margin-bottom: 0.5rem;
            display: inline-block;
        }
        .card-text > p:last-child {
            margin-bottom: 0;
        }
    }
    .card-footer {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        .rating, .comment, .video {
            i {
                margin-right: 0.15rem;
                vertical-align: middle;
                font-size: 24px;
                color: $gray-500;
            }
            span {
                display: inline-block;
                vertical-align: middle;
                font-size: $font-size-sm;
            }
        }
        .comment {
            i {
                color: rgba($info, 0.7);
                &:hover {
                    color: rgba($info, 1);
                }
            }
        }
        .video {
            i {
                color: rgba($danger, 0.7);
                &:hover {
                    color: rgba($danger, 1);
                }
            }
        }
    }
}