.sidebar {
    padding-top: 1rem;
    margin-left: -210px;
    transition: margin-left 0.2s ease-in-out;
    background-color: #f8f9fa;
    .sb-container {
        position: sticky;
        top: 0.5rem;
        width: 180px;
        .sb-item {
            ul {
                list-style: none;
                margin: 0;
                padding: 0 0 1rem 0;
                li {
                    padding-bottom: 0.25rem;
                    display: flex;
                    > a, i {
                        align-self: center;
                    }
                    a {
                        font-size: $font-size-sm;
                    }
                    i {
                        margin-right: 0.5rem;
                        font-size: 24px;
                        color: #6c757d;
                    }
                }
            }
            .header {
                margin-bottom: 0.5rem;
                font-weight: 300;
                font-size: $font-size-sm;
                text-transform: uppercase;
                color: $danger;
            }
            .header-divider {
                border-bottom: 1px solid rgb(222, 226, 230);
                /*width: 25%;*/
                width: 45px;
                margin-bottom: 0.5rem;
            }
        }
    }
    &.sidebar-mobile {
        margin-left: 0;
    }
}