@keyframes h2_color {
    0% {
        color: #212529;
    }
    50% {
        color: $danger;
    }
}
@keyframes comment {
/*    0% {
        color: $secondary;
        background-color: rgb(226, 227, 229);
    }*/
    50% {
        color: $primary;
        background-color: rgb(204, 229, 255);
        border-color: rgb(184, 218, 255);
    }
}