/*
    disable default link outline
*/
a, a:hover, a:link, a:focus,
button, button:hover, button:focus {
    outline: 0;
}
/*
    Options for sticky footer
    https://getbootstrap.com/docs/4.1/examples/sticky-footer/
*/
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
    right: 0;
    &.navbar-mobile-open {
        left: inherit;
        right: 210px;
        overflow: hidden;
    }
    .container-fluid {
        height: 100%;
        >.row {
            height: 100%;
            flex-wrap: nowrap;
            >.col:not(.post) {
                padding-top: 1rem;
            }
        }

    }
    main {
	    margin-top: 1.5rem;
        flex-grow: 1;
    }
}
.navbar-expand-lg > .container {
    flex-wrap: nowrap;
}
/*
    MDI default fix
*/
.material-icons {
    vertical-align: text-bottom;
    font-size: 18px;
}
/*
    Toast
*/
.toast {
    position: fixed;
	max-width: 90%;
	right: 5%;
	bottom: 1rem;
    .toast-header {
	    padding-bottom: 0;
        div {
            font-weight: 500;
            margin-right: auto;
        }
        button {
            margin-left: $spacer * 0.5;
            margin-bottom: $spacer * 0.25;
        }
    }
	.toast-body {
		padding-top: 0.25rem;
	}
}
/*
    Mobile Menu
 */
// body tag extend class (navbar menu)
.menu-open {
    overflow-x: hidden;
    /*left: 240px;*/
}
// body tag extend class for "table of contents" mobile menu
.toc-menu-open {
    overflow: hidden;
    right: 235px;
}
.menu-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
}
kbd {
	padding: 0.2rem 0.4rem 0.25rem 0.4rem;
	background-color: #9a8f99;
	border-radius: 5px;
	font-size: 14px;
	color: #f4f3f4;
    white-space: nowrap;
}
.alert-info {
	display: flex;
	border: solid 1px #d1e5f0;
	border-radius: 5px;
	font-size: $font-size-sm;
	background-color: #def4ff;
	color: #596266;
	span {
		align-self: center;
	}
	&::before {
		@include material_icon;
		margin-right: 1rem;
		align-self: center;
		font-size: 36px;
		color: lighten(#26b4ff, 20%);
		content: '\e8fd'; // help outline
	}
}
.alert-warning {
	display: flex;
	border: solid 1px #f0ead7;
	border-radius: 5px;
	font-size: $font-size-sm;
	background-color: #fff9e5;
	color: #66645c;
	span {
		align-self: center;
	}
	&::before {
		@include material_icon;
		margin-right: 1rem;
		align-self: center;
		font-size: 36px;
		color: #e8c649;
		content: '\e88f'; // help outline
	}
}
.card {
    //box-shadow: $card-box-shadow;
}
.alert::before {
	display: none;
}
/*main>.container-fluid {
	padding-left: .375rem;
	padding-right: .375rem;
}*/
.popover {
    box-shadow: $popover-box-shadow;
}
.popover-body {
    display: flex;
    flex-wrap: wrap;
    >form, a {
        align-self: center;
        padding: .25rem 0;
    }
    >div {
        width: 100%;
        font-size: 12px;
        border-top: 1px solid $gray-400;
        margin-top: .25rem;
        padding-top: .25rem;
    }
    a {
        margin-left: .5rem;
        &.text-success:hover {
            color: $success !important;
        }
    }
    i {
        font-size: 24px;
    }
    input {
        min-width: 230px;
    }
}
.popover-header {
    display: flex;
    font-size: $font-size-sm;
    >span, i {
        align-self: center;
    }
    >i {
        margin-left: auto;
        font-size: 24px;
        border-radius: 50%;
        cursor: pointer;
        color: $gray-300;
        &:hover {
            color: $gray-600;
        }
    }
}
.dropdown-menu {
    //padding-top: 0;
    box-shadow: $dropdown-box-shadow;
    .dropdown-header {
        padding-top: .15rem;
        padding-bottom: .15rem;
        //background-color: #f4f4f4;
        //background-color: #edf7f5;
/*        background-color: $dropdown-border-color;
        color: #fff;*/
        /*color: #56a2c8;*/
    }
}