@mixin material_icon {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	text-rendering: auto;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	letter-spacing: normal;
	white-space: nowrap;
	word-wrap: normal;
	content: '';
}